<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="../assets/js/main.js" defer></script>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/admin.css">
    <!-- ===== BOX ICONS ===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
   
    <title>Roby Admin</title>
</head>
<body>
            <%- include('../templates/admin-header', {title : title}) %>

            <main class="l-main"> 
                <section class="cart section">
                    <div class="cart__container bd-grid">
                        <h2 class="section-title">Orders to be shipped.</h2>
                        <div class="cart__item">
        
                            <div class="cart__inside">
                                <img src="../assets/img/collection1.png" alt="">
                            </div>
                            <div class="cart__inside">
                                <h3 class="cart__title">New Nike RN Sneaker</h3>
                                <p class="cart__description">Get 10% discount for all products</p>
                                <p class="cart__description">Quantity: 1</p>
                            </div>
            
                            <div class="cart__inside">
                                <p class="cart__description">Size: L</p>
                                <p class="cart__description">Price: $99.9</p>
                                <button class="cart__description cart__button">Done</button>
                            </div>
        
                        </div>
                        <div class="cart__item">
        
                            <div class="cart__inside">
                                <img src="../assets/img/collection1.png" alt="">
                            </div>
                            <div class="cart__inside">
                                <h3 class="cart__title">New Nike RN Sneaker</h3>
                                <p class="cart__description">Get 10% discount for all products</p>
                                <p class="cart__description">Quantity: 1</p>
                            </div>
            
                            <div class="cart__inside">
                                <p class="cart__description">Size: L</p>
                                <p class="cart__description">Price: $99.9</p>
                                <button class="cart__description cart__button">Done</button>
                            </div>
        
                        </div>
                        <!-- <div class="cart__item">
                            <div class="cart__inside">
                                <h3 class="cart__title">Total: $1777.5   </h3>
                            </div>
                            <div class="cart__inside">
                                <button class="cart__button"></button>
                            </div>
                        </div> -->   
                    </div>
                </section>
                <section class="cart section">
                    <div class="cart__container bd-grid">
                        <h2 class="section-title">Completed Orders</h2>
                        <div class="cart__item">
        
                            <div class="cart__inside">
                                <img src="../assets/img/collection1.png" alt="">
                            </div>
                            <div class="cart__inside">
                                <h3 class="cart__title">New Nike RN Sneaker</h3>
                                <p class="cart__description">Get 10% discount for all products</p>
                                <p class="cart__description">Quantity: 1</p>
                            </div>
            
                            <div class="cart__inside">
                                <p class="cart__description">Size: L</p>
                                <p class="cart__description">Price: $99.9</p>
                                <button class="cart__description cart__button">Done</button>
                            </div>
        
                        </div>
                        <div class="cart__item">
        
                            <div class="cart__inside">
                                <img src="../assets/img/collection1.png" alt="">
                            </div>
                            <div class="cart__inside">
                                <h3 class="cart__title">New Nike RN Sneaker</h3>
                                <p class="cart__description">Get 10% discount for all products</p>
                                <p class="cart__description">Quantity: 1</p>
                            </div>
            
                            <div class="cart__inside">
                                <p class="cart__description">Size: L</p>
                                <p class="cart__description">Price: $99.9</p>
                                <button class="cart__description cart__button">Done</button>
                            </div>
        
                        </div>
                        <!-- <div class="cart__item">
                            <div class="cart__inside">
                                <h3 class="cart__title">Total: $1777.5   </h3>
                            </div>
                            <div class="cart__inside">
                                <button class="cart__button"></button>
                            </div>
                        </div> -->   
                    </div>
                </section>
            </main>
</body>
</html>